.gray-curved-box {
  background-color: #ddd;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.item-row {
  display: flex;
  width: 100%;
  align-items: center;
}

.checkbox-divider {
  border-right: 1px solid #000;
  height: 100%; /* Set height to 100% to match the height of the gray box */
  margin: 0 10px;
}

.item-content {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
}

.item-image img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.cart-del-button {
  width: 20%;
  border: none;
  color: rgb(244, 76, 12);
}
input[type="checkbox"] {
  accent-color: rgb(244, 76, 12);
  mix-blend-mode: multiply;
}
.item-details {
  display: flex;
  flex-direction: column;
}

.productinfo {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.column {
  flex: 1;
}

.column-product {
  padding-top: 2px;
}

.productTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nameSeller {
  display: flex;
  align-items: center;
  height: 30%;
  padding-bottom: 5px;
}

.quantityBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.quantityBox div:first-child p {
  font-weight: 600;
}