.categoryBox {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.categoryBox button {
    height: 200px;
    width: 180px;
    border: 1px solid #000;
    overflow: hidden;
    background-size: cover;
    color: #fff;
    padding: 10px;
    border-radius: 0;
    align-items: center;
    position: relative;
  }

.TopProductsBox {
    display: flex;
    flex-wrap: wrap;
    margin-bottom:50px;
    justify-content: center;
    gap:20px;
}

  .categoryBox img {
    position: relative;
    top: 20px;
    margin-bottom: 20px;
    object-fit: cover;
  }
  
  .home_button {
    transition: box-shadow 0.3s ease-in-out; 
  }
  
  .home_button:hover {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4); 
  }
  