.purchases-row {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.purchases-row:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.heading {
    font-size: 20px;
    border-bottom: 1px solid #000;
    margin-bottom: 35px;
    padding-bottom: 20px;
}

.purchase-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.purchase-item h4 {
    font-size: 20px;
    color: #F44C0C;
}

.purchase-item p {
    font-size: 16px;
    margin-bottom: 10px;
}

.heading-purchases {
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.view-button {
    background-color: #F44C0C;
    padding: 1px 5px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.view-button:hover {
    background-color: #fa602d;
}

.content-purchases {
    padding: 10px 0px;
}

.content-text {
    font-size: 14px !important;
}

.rows-content {
    padding-bottom: 20px;
    margin-top: 20px;
}

.footer-purchases {
    border-top: 1px solid #e6e6e6;
    padding-top: 15px;
}

.no-orders {
    min-height: 540px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.contact-review-button {
    background-color: #F44C0C;
    margin-top: 10px;
    margin-left: 10px;
    padding: 8px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.contact-review-button:hover {
    background-color: #fa602d;
}

.footer-button {
    display: flex;
    justify-content: flex-end;
}

.star-rating {
    display: flex;
}

.star-title {
    margin-top: 4px;
    margin-right: 10px;
    font-size: 16px !important;
}

.star {
    margin-right: 5px;
}

.star-error {
    padding-left: 5px;
    padding-top: 5px;
    color: red;
}