.col-9-gray {
    background-color: #F1F0F0;
   
  }

.slider {
  width: 90%; 
  margin: 30px auto;
  background-color: rgb(209, 209, 209);
  
}

.thumb {
  position: absolute;
  width: 17px; 
  height: 17px; 
  transform: translateY(-50%);
  background-color: #F44C0C; 
  border-radius: 50%; 
  outline: none;
}

.track {
  height: 2px;
  border-radius: 4px;
  background-color: orange; /* สีที่ต้องการสำหรับ track ที่อยู่ระหว่าง thumb */
}


