.slider {
  width: 80%; 
  margin: 30px auto;
  height: 2px;
  border-radius: 4px;
  background-color: black;
  margin-bottom: 20px;
  margin-top: 15px;
}

.thumb {
  position: absolute;
  width: 14px; 
  height: 14px; 
  transform: translateY(-50%);
  background-color: black; 
  border-radius: 50%; 
  outline: none;
}

.thumb:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4); 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Value-Wrapper{

  justify-content: center;
  display: flex;
}

.filterByText {
  font-size: 28px;
}

.applyButton {
  width: 80%;
  height: 35px;
  margin:30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #F44C0C;
  border: none;
  border-radius: 5px; 
  transition: box-shadow 0.3s ease-in-out;
  color: white;
}

.show_product {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.show_product {
  height: 200px;
  width: 180px;
  border: 1px solid #000;
  overflow: hidden;
  background-size: cover;
  color: #fff;
  padding: 10px;
  border-radius: 0;
}


.filterByText{
  margin-top: 20px;
  
}

.col_1 {
  flex: 0 0 23%;
  max-width: 23%;
  margin-top: 20px;
}

.col_2 {
  flex: 0 0 77%;
  max-width: 77%;
  background-color: #F1F0F0;
}

.divider_productlist {
  border: 1px solid  #000000 ;
  margin: 30px 0;
  margin-bottom: 20px; 
}

.form-label{
  font-size: 18px;
  margin-bottom: 10px;
}

.filterByText, .form-label {
  font-family: 'Arial', sans-serif; 
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
  justify-items: center;
  margin-right: 10px;
}

.rating_button{
  width: 60%;
  background-color: #D9D9D9;
  border: none; 
  border-radius: 20px; 
  transition: box-shadow 0.3s ease-in-out;
  height: 35px;
}
.rating_button:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4); 
}
.rating_button.active {
  background-color: #F44C0C;
}

.sort-box{
  background-color: #D9D9D9;
  min-height: 40px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px; 
}

.search_result_word{
  margin-top: 10px;
  margin-left: 42px;
}

.sort-box {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.sorting_word {
  margin: 10px;
  margin-left: 20px;
}

.sort-button1{
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
  border: none;
  padding: 4px 16px;
  font-size: 14px;
  border-radius: 5px; 
}
.sort-button1.active {
  background-color: #F44C0C;
  color: white;
}

.sort-button2{
  border: none;
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
  padding: 4px 20px;
  border-radius: 5px; 
}

.show_min_max{
  margin-left: 25px;
  margin-right: 25px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.previos-next-button{
  width: 30px;
  height: 30px;
  border-radius: 5px; 
  border: none;
  margin: 2px;
  background-color: white;
}

.current-page{
  width: 60px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5px;
  color: black;
  background-color: white;
}

.page-button{
  margin-left: 30.7%;
  gap : 2px;
}